@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  body {
    @apply bg-black text-white;
    font-family: "Karla", sans-serif;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }

  .screen-wrapper {
    @apply relative w-full bg-[url('/assets/images/shark.gif')] bg-cover bg-bottom z-[1] before:absolute before:left-0 before:top-0 before:w-full before:h-full before:bg-black before:opacity-70 before:z-[-1];
  }

  /* SCROLLBAR */
  .scrollbar-y-thin::-webkit-scrollbar {
    @apply w-1 rounded-3xl;
  }

  .scrollbar-y-thin::-webkit-scrollbar-track {
    @apply bg-transparent rounded-3xl;
  }

  .scrollbar-y-thin::-webkit-scrollbar-thumb {
    @apply bg-black/25 rounded-3xl;
  }
}
